.lh-0 {
  line-height: 0;
}

.text-deconraion-none {
  text-decoration: none;
}

.hover-opacity-100 {
  &:hover {
    opacity: 1 !important;
  }

}

.w-64 {
  width: 64px;
}

.hover-primary-title {
  &:hover {
    .title {
      color: rgb(var(--v-theme-primary));
    }
  }
}

.obj-cover {
  object-fit: cover;
}